<!-- email input should not belong to sign up form because we will need to reuse import
  DO NOT NEST THIS COMPONENT -->
  {{email-input email=credentials.email}}
<!-- is this where we are binding email input from form to credentials value in this form -->
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Sign Up
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
